# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
myvenv/

# Database
*.sqlite3
db.sqlite3

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Project specific
data/
!data/.gitkeep
staticfiles/
media/
